body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-width: 1000px;
  min-height: 800px;
}

code {
  font-family: 'PT Sans', sans-serif;
font-family: 'Raleway', sans-serif;
}

#addIncidente:hover{
  filter:drop-shadow(2px 1px 10px #ef9a9a);
  background-color: #f44336 !important;  
  color:white !important;
  animation: pulse;
  animation-duration: 1s;
}
#filter:hover{
  background-color: lightgray;
  background-color: #f44336;
  color:white;
  animation: pulse;
  animation-duration: 1s;
}
#sideMenu{
  animation: slideInRight;
  animation-duration: 3s;
}

